<div class="d-flex flex-column align-items-center">
    <h2>List of all users:</h2>
    <div class="card-body">
        {{#each this.allUsers}}
                <p class="users-list-each"><a href="/private/{{this._id}}/public-profile">{{this.username}}</a></p>
        {{/each}}
    </div>
</div>