<div class="index-container">
    {{!-- <h1>{{appTitle}} 🚀</h1> --}}
    <img class="app-logo" src="../images/logo-02.png" alt="app logo">
    {{#if this.isUserActive}}
    <form action="/private/main">
        <button class="btn btn-info">See all the Characters!</button>
    </form>
    {{else}}
    <form action="/auth/register">
        <button class="btn btn-info">Register!</button>
    </form>
    {{/if}}
    
</div>