<div class="main-page-container">
    <div class="main-card">
        <a href="/characters">Characters</a>
    </div>
    <div class="main-card">
        <a href="/categories">Categories</a>
    </div>
    <div class="main-card">
        <a href="/private/films">Films</a>
    </div>
    <div class="main-card">
        <a href="/private/series">Series</a>
    </div>
</div>