<div class="d-flex flex-column align-items-center">
    <div class="card-body profile-card">
        <img src="https://vignette.wikia.nocookie.net/fr.starwars/images/3/32/Dark_Vador.jpg" alt="{{this.username}}">
        <h1>{{this.username}}'s Profile</h1>
    </div>
    <div class="card-body">
        <h2>Favorite Character</h2>
        <div class="fav-char">
            <img src="" alt="">
        </div>
    </div>

</div>