@font-face {
  font-family: 'Star jedi';
  src: url('../fonts/starjedi/Starjedi.ttf') format('truetype');
}


body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; 
  font-family: 'Star jedi', sans-serif;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: blanchedalmond;
  background-image: url("../images/background-02.png");
  background-repeat: no-repeat;
  background-size: cover;
}

footer,
.navigation-bar {
  letter-spacing: 0.1em;
  font-size: 18px;
  background-color: #00b7ff;
  background-image: url("../images/space-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 70px;
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.nav-order-items{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav-order-items div{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;

}

.navigation-bar {
  list-style-type: none;
}
.navigation-bar a {
  color: gold;
  text-decoration: none;
  margin: auto;
}

footer {
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer p{
  margin-right: 10px;
}

.error-message {
  margin: 20px;
  width: 400px;
}

.main-center {
  width: 600px;
  margin: auto;
}

.char-card {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.char-card img {
  width: 150px;
}

.main-card {
  width: 300px;
  margin: 20px;
}
.main-card a {
  background-color: rgba(0, 183, 255, 0.5);
  color: white;
  text-decoration: none;
  padding: 40px;
  border: 2px solid lightgray;
  border-radius: 30px;
}

.main-container {
  max-width: 800px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.profile-card img{
  width: 100px;
}
.profile-main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profile-main-container h2{
  text-align: center;
  margin-top: 20px;
}
.profile-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto 200px auto;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card {
  margin: 20px 200px 20px 20px;
  border: 2px solid lightgray;
  border-radius: 5px;
  height: 160px;
  padding: 4px;
  text-align: center;
}

.created-chars {
  width: 330px;
}

.added-character a{
  margin: 5px;
  display: flex;
  align-items:baseline;
  gap: 10px;
  border: 1px solid lightgray;
  border-radius: 5px;
  text-decoration: none;
  padding-left: 5px;
  padding-top: 3px;
  color: rgb(113, 0, 0);
}
.added-character a:hover {
  background-color: lightgray;
}

.added-character img {
  width: 20px;
  border-radius: 10px;
}

.fav-char {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
}
.fav-char a {
  border: 2px solid lightgray;
  padding: 5px;
  border-radius: 5px;
  color: rgb(113, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fav-char a img {
  width: 300px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.char-textarea {
  display: flex;
  flex-direction: column;
}

.add-comment-btn {
  margin-top: 10px;
}

.add-comment-btn {
  width: 100px;
  align-self: flex-end;
}

.char-details-container {
  display: flex;
  max-width: 1000px;
  margin: 20px auto;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
}

.comments-section {
  max-width: 500px;
}
.comments-section ul {
  max-width: 300px;
}
.comments-section ul li {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}
.delete-comment-btn {
  border: 1px solid rgb(119, 0, 0);
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.char-list-each a,
.users-list-each a {
  color: rgb(113, 0, 0);
  border: 1px solid rgb(113, 0, 0);
  padding: 3px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
}

.app-logo {
  width: 70%;
  border-radius: 20px;
  margin-bottom: 30px;
}

.categories-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.categories-list a {
  color: rgb(113, 0, 0);
  border: 1px solid rgb(113, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
}

.index-container,
.species,
.homeworlds {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.species a,
.homeworlds a{
  color: rgb(113, 0, 0);
  border: 1px solid rgb(113, 0, 0);
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
  text-decoration: none;
}

.all-species-cards,
.all-homeworlds-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000;
  flex-wrap: wrap;
}

.each-species a,
.each-homeworld a {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: rgb(113, 0, 0);
  border: 1px solid rgb(113, 0, 0);
  margin: 10px;
  padding: 5px;
  border-radius: 5px;
}

.each-species a img,
.each-homeworld a img {
  width: 130px;
  height: 130px;
}