<div class="homeworlds">

    <h2>Homeworlds</h2>
    
        {{#each this.homeworldsList}}
        <a href="/categories/{{this}}/homeworlds-list">
        {{capitalize this}}
        </a>
        
        {{/each}}
    

</div>