<div class="d-flex flex-column align-items-center">

    <h3>Species</h3>
    <ul>
        {{#each this.speciesList}}
        <a href="/categories/{{this}}/list">
        <li>{{capitalize this}}</li>
        </a>
        {{/each}}
    </ul>

</div>