<div class="characters-list-container">
    
        <div class="added-character-list">
            <h2>List of Characters</h2>
            <div class="added-character">
                {{#each this.capCharacters}}
                <a href="/characters/{{this._id}}/details">
                    <h5>{{capitalize this.name}}</h5>
                    <img src="{{this.image}}" alt="{{this.name}}" />
                </a>
            {{/each}}
            </div>
        </div>

    {{#if this.isModerator}}
        <div>
            <form action="/characters/new">
                <button class="btn btn-info">Add New Character</button>
            </form>
        </div>
    {{/if}}

</div>